/* main.css
*/

body {
    padding: 0;
    margin: 0;
    background-color: #ccc;
    font-size: .9em
}

button {
    float: right;
    margin: 3px;
}

textarea {
    background-color: #eee;
    width: inherit;
    margin: 5px;
}

select {
    margin: 5px;
    background-color: #eef;
}

/* drag_drop*/
div.drag_drop {
    position: absolute;
    cursor: move;
    top: 50px;
    left: 50px;
    background-color: #99f;
    width: 200px;
    padding: 15px 15px 25px 15px;
    border-radius: 20px;
    opacity: .9;
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#main_display {
    background-color: #ccc;
    width: 100%;
}

/* html_el_view */
#html_el_view {
}

#html_el_view #hev_content {
    background-color: #aaa;
    width: inherit;
}

/* selector_view */
#selector_view {
}

#selector_view .selected_color {
    display: none;
    /*display: inline-block;*/
    width: 180px;
    height: 25px;
    background-color: #00f;
    color: "#f00";
}

#selector_view input.user_input {
    display: none;
}

#selector_view .content_holder {
    padding: 3px;
    border: 1px solid #77f;
    background-color: "red";
    color: "red";
    height: 30px;
}

/* item_view */
#item_view {
    min-height: 100px;
    text-align: left;
}