<!DOCTYPE html>
<head>
    <title>backboneboot</title>
</head>
<body>

<form id="query_form">
    <input type="text" size="30" name="query" autocomplete="off">
</form>

<script type="text/template" class="template">
    <h3>
        <%
            print(rc.getTitle())
        %>
    </h3>
    <ul>
        <%
            print(rc.getColorQueryStringResult());
        %>
    </ul>

    <% if ( rc.ifHasOne() ){ %>
        <p style="font-size: 12px ;">
            <em>Only one result!</em>
        </p>
    <% } %>

</script>

<div id="list_holder"></div>
</body></html>

<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script src="js/goatstone/us_related/cssColors.js"></script>
<script src="js/goatstone/us_related/CSS_ColorResultsTemplate.js"></script>
<script src="js/goatstone/us_related/main.js"></script>


